.root {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: relative;
}

.desktop {
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.wallpaper {
  position: absolute;
  inset: 0;
  background: url('/bliss.jpg') center / cover no-repeat;
  z-index: 0;
}
